html,
body,
pre,
code {
  font-family: serif;
}
html,
body {
  font-size: 15px;
  font-weight: 200;
}
section,
p,
ul,
li {
  margin: 0;
  padding: 0;
}
ul,
li {
  font-size: 0;
  list-style: none;
  text-decoration: none;
}
a {
  outline: 0 !important;
  cursor: pointer;
}
a,
a:hover,
a:visited,
a:link {
  text-decoration: none;
}
input {
  border: none;
  outline: 0;
}
