
{% extends "base.html" %}

{% block css %}
    <link rel="stylesheet" href="/static/css/travel/search.css">
{% endblock %}

{% block nav %}
    <nav>
        <div class="container-nav">
            <div class="back"><a href="/" class="icon-angle-left"></a></div>
            <div class="title">Search Tour Spot</div>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <ul class="lines">
        {% for line in lines %}
            <li class="line line-{{ line }}" data-target="station-{{ line }}">
                <a class="icon">{{ line }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}

{% block content-sub %}
    <div class="container container-sub">
        <ul class="stations">
            {% for station in stations %}
                <li class="station station-{{ station.line }} icon-angle-right-after"
                    data-href="/travel/{{ station.station_code }}/">
                    <a class="icon">{{ station.line }}</a>
                    <a class="travel">{{ station.station }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}

{% block js %}
    <script src="/static/vendor/jquery/dist/jquery.min.js"></script>
    <script src="/static/js/travel/search.js"></script>
{% endblock %}
