
{% extends "base.html" %}

{% block css %}
    <link rel="stylesheet" href="/static/css/travel/station.css">
{% endblock %}

{% block nav %}
    <nav>
        <div class="container-nav">
            <div class="back"><a href="/travel/" class="icon-angle-left"></a></div>
            <div class="title">Search tour spot</div>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="line"><a class="icon icon-{{ station.line }}">{{ station.line }}</a></div>
    <div class="station">{{ station.station }}</div>
    <div class="guide_length">We found {{ users_len }}people interested line in {{ station.line }}</div>
    <div class="guides">
    {% for user_list in users_list %}
        <div class="guide" data-target="{{ user_list.0.username }}">
            <div class="profile-picture">
                <img src="/{% if user_list.1.profile_picture %}{{ user_list.1.profile_picture }}{% else %}{{ "static/profile/default_picture.jpg" }}{% endif %}" />
            </div>
            <div class="date">{{ user_list.1.created|date:"Y / M / d" }}</div>
            <div class="username">{% if user_list.0.first_name %}{{ user_list.0.first_name }}{% endif %}, {% if user_list.0.last_name %}{{ user_list.0.last_name }}{% endif %}</div>
            <div class="content">{% if user_list.1.about_me %}{{ user_list.1.about_me }}{% endif %}</div>
            {% if user_list.3 %}<div class="data before"></div>{% endif %}
            {% if user_list.2 %}<div class="data now">Processing guide matching.</div>{% endif %}
        </div>
    {% endfor %}
    </div>
{% endblock %}

{% block js %}
    <script src="/static/vendor/jquery/dist/jquery.min.js"></script>
    <script src="/static/js/travel/station.js"></script>
{% endblock %}
