<!DOCTYPE HTML>
<!--//
This web page has been developed by J.
 - jicjjang12@gmail.com
-->
<html lang="ko">
<head>
    <title>Show me the Seoul</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link rel="shortcut icon" type="image/ico" href="/static/img/favicon.ico" />

    <!--[if lt IE 9]>
    <script src="/static/vendor/html5shiv/dist/html5shiv.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="/static/css/travel/search.css">

    <!--[if lt IE 9]>
    <script src="/static/vendor/respond/dest/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div class="line">
        <a>{{ station.line }}</a>
    </div>
    <div class="station">
        <a>{{ station.station }}</a>
    </div>
    <div class="guide_length">
        <a>총 {{ users_len }}명의 가이드를 찾았습니다.</a>
    </div>
    <div class="guides">
    {% for user_list in users_list %}
        <div class="guide" data-target="{{ user_list.0.username }}">
            <img src="/{% if user_list.1.profile_picture %}{{ user_list.1.profile_picture }}{% else %}{{ "static/profile/default_picture.jpg" }}{% endif %}" />
            <a>{{ user_list.0.username }}</a>
            <a>{% if user_list.1.sex %}{{ user_list.1.sex }}{% endif %}</a>
            <a>{% if user_list.1.about_me %}{{ user_list.1.about_me }}{% endif %}</a>
            <a>{{ user_list.1.updated }}</a>
        </div>
    {% endfor %}
    </div>
    <script src="/static/vendor/jquery/dist/jquery.min.js"></script>
    <script src="/static/js/travel/station.js"></script>
</body>
</html>
