<!DOCTYPE HTML>
<!--//
This web page has been developed by J.
 - jicjjang12@gmail.com
-->
<html lang="ko">
<head>
    <title>Show me the Seoul</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="/static/css/test.css">
</head>
<body>
    <form id="search-form" method="GET" action=".">
        <input type='hidden' name='csrfmiddlewaretoken' value='{{ csrf_token }}' />
        <p>
            <label for="id_query">Search for tour spot:</label>
            <input id="id_query" name="query" size="32" type="text" />
        </p>
        <input type="submit" value="Search">
        <div id="search-results">
            {% if show_results %}
                {% include "guide_list.html" %}
            {% endif %}
        </div>
    </form>

    <div id="nav">
        <a href="/user/">Status</a>
    </div>
</body>
</html>
