
{% extends "base.html" %}

{% block css %}
    <link rel="stylesheet" href="/static/css/index.css">
{% endblock %}

{% block content-prev %}
    <div class="background"></div>
{% endblock %}

{% block content %}
    <div class="description">
        <div class="desc1 icon-newspaper"><a>Put your tour plain in my page</a></div>
        <div class="desc2 icon-train"><a>Choose the station near by spot</a></div>
        <div class="desc3 icon-help"><a>Ask for a guide you want<br/>to hang out with</a></div>
        <div class="desc4 icon-attention-alt"><a>Make friends and enjoy Seoul!</a></div>
        <div class="desc5 icon-pencil"><a>Put a Review in your friend's page<br/>after travel!</a></div>
    </div>
    <div class="search">
        <a href="/travel/" class="icon-search">Any spot you interested in Seoul!</a>
    </div>
    <div class="my-page">
        <a href="/user/" class="icon-user"></a>
    </div>
{% endblock %}
