<!DOCTYPE HTML>
<!--//
This web page has been developed by J.
 - jicjjang12@gmail.com
-->
<html lang="ko">
<head>
    <title>Show me the Seoul</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="/static/css/travel/search.less">
</head>
<body>
    <div class="search">
        <a href="/travel/">Search Tour Spot</a>
    </div>
    <div class="language">
        <a href="/language/">Change Language</a>
    </div>
    <div class="my-page">
        <a href="/user/">My Page</a>
    </div>
</body>
</html>
