<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Show me the Seoul </title>
</head>

<body>

    <form id="search-form" method="GET" action=".">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Search">
        <div id="search-results">
            {% if show_results %}
                {% include "guide_list.html" %}
            {% endif %}
        </div>
    </form>

    <div id="nav">
        <a href="/user/">Status</a>
    </div>

</body>
</html>